body{

margin:0;

font-family:Arial;

background:#eef2f7;

}

h1{

margin:0;

padding:15px;

text-align:center;

background:#0d47a1;

color:white;

}

.contenedor{

display:flex;

height:calc(100vh - 70px);

}

.izquierda{

width:60%;

display:flex;

justify-content:center;

align-items:flex-start;

padding:20px;

background:white;

overflow:auto;

}

.derecha{

width:40%;

padding:20px;

background:#f5f5f5;

overflow:auto;

}

.mapa{

position:relative;

}

.mapa img{

    max-width:100%;
    max-height:80vh;

    width:auto;
    height:auto;

    display:block;

}

.boton{

position:absolute;

cursor:pointer;

background:red;

opacity:0.35;

border:none;

}

.boton:hover{

opacity:0.7;

}

/* HARDWARE */

.hardware{

left:260px;

top:170px;

width:140px;

height:70px;

}

/* SOFTWARE */

.software{

left:260px;

top:580px;

width:140px;

height:70px;

}

/* CONECTIVIDAD */

.conectividad{

left:390px;

top:760px;

width:180px;

height:70px;

}
/* ===== MENÚ DE BOTONES ===== */

.menu{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:15px;

}

.menu button{

padding:12px 20px;

border:none;

border-radius:10px;

background:#1976d2;
color:white;

cursor:pointer;

font-size:16px;

transition:0.3s;

}

.menu button:hover{

background:#0d47a1;

transform:scale(1.05);

}

#texto{

line-height:1.7;

font-size:18px;

}

#texto h3{

color:#0d47a1;

margin-top:15px;

}